@import "../../GlobalStyle";

///////////////////////// TRANSVERSAL //////////////////////////

.NavbarContainer {
  z-index: 100;
  background-color: white;
  color: $black;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .NavbarLogo {
    width: 150px;
    height: auto;
    margin: auto;
  }

  .NavbarBurgerMenu {
    width: 30px;
    height: 20px;
    margin: auto 0;
  }
}

.NavbarContainer ul {
  li {
    cursor: pointer;
    list-style-type: none;
    display: inline;
    margin: 0 1.8vw;
    font-weight: 300;
    font-size: 1em;
    position: relative;
    text-align: center;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 0;
      height: 0.5em;
      background-color: $green;
      transition-duration: 0.4s;
      mix-blend-mode: multiply;
    }
    &:hover::after {
      width: 100%;
    }
  }
}

///////////////////////// RESPONSIVE //////////////////////////

@media screen and (min-width: 901px) {
  .NavbarContainer {
    height: 50px;
    padding: 1em 12vw;

    ul {
      display: inline-block;
    }

    .NavbarBurgerMenu {
      display: none;
    }
  }
}

@media screen and (max-width: 900px) {
  .NavbarContainer {
    height: 40px;
    padding: 1em 7vw;

    ul {
      display: none;
    }

    .NavbarBurgerMenu {
      display: inline-block;
    }
  }
}
