@import "../../GlobalStyle";

///////////////////////// TRANSVERSAL //////////////////////////

.NavbarContainer {
    // position: sticky;
    z-index:100;
    background-color: white;
    color:$black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 8vw;
    
    .NavbarLogo {
        width:150px;
        height: auto;
        margin: auto;
    }
    
}

.NavbarContainer ul {

        li {
            cursor: pointer;
            list-style-type: none;
            display: inline;
            margin: 0 2vw;
            font-weight: 300;
            font-size: 1em;
            letter-spacing: 0.1em;
            position:relative;
            text-align: center;
            &::after {
              content:"";
              position:absolute;
              bottom:0;
              left:0;
              right:0;
              margin:0 auto;
              width:0;
              height:0.5em;
              background-color: $green;
              transition-duration:0.4s;
              mix-blend-mode: multiply;
            } 
            &:hover::after {
              width:100%;
            }
    }
}



///////////////////////// RESPONSIVE //////////////////////////

.NavbarContainer {
    height:50px;
}